.d-none {
  display: none;
}

body::-webkit-scrollbar {
  width: 15px;
  border-radius: 30px;
}

body::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 30px;
}

body::-webkit-scrollbar-thumb {
  background-color: #c3c7ec;
  border-radius: 30px;
  border: 4px solid #ffffff;
}

@keyframes bounce-in-anim {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce-out-anim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(0);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: monospace, sans-serif;
  color: #696868;
  letter-spacing: 0.5px;
  padding: 0rem 1rem;
  background-image: linear-gradient(to right, #f2eeee 0%, #d5d7eb 100%);
}

#root {
  padding-bottom: 1rem;
}

.header-dynamic {
  display: flex;
  padding: 1rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.header-dynamic .title {
  width: 50%;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}
.header-dynamic .title span {
  margin-left: 0.8rem;
  animation: 0.15s bounce-in-anim;
}
.header-dynamic .buttons {
  display: flex;
  justify-content: end;
  width: 50%;
}
.header-dynamic .buttons .icon {
  margin-right: 0.7rem;
}
.header-dynamic .buttons .icon img {
  height: 15px;
}
.header-dynamic .buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0.8rem;
}
.header-dynamic .buttons button:first-child {
  margin-right: 1.5rem;
}

main {
  min-height: calc(100vh - 80px - 1rem);
  max-width: 1500px;
  margin: auto;
  padding-top: 1rem;
}

.btn.success:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, #22c55e 0px 0px 0px 1.5px;
}

.btn.danger:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, #e04f4f 0px 0px 0px 1.5px;
}

.btn {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 0px 2px;
  border-radius: 6px;
  padding: 0.6rem 1rem;
  border: none;
  letter-spacing: 0.7px;
  cursor: pointer;
  background-color: #ffffff;
  color: #696868;
  text-align: center;
  font-family: system-ui, monospace, sans-serif;
  font-weight: 600;
  transition: 0.07s;
}
.btn:hover {
  scale: 1.15;
  background-color: #eeeeee;
}
.btn:hover .icon {
  scale: 1.2;
}
.btn:active {
  scale: 0.95;
}

footer {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 80px;
  max-width: 1500px;
  margin: auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

@media (max-width: 1536px) {
  main, footer {
    max-width: calc(1280px - 20px);
  }
}
@media (max-width: 1280px) {
  main, footer {
    max-width: calc(1024px - 20px);
  }

  .header-dynamic .title {
    font-size: 1.4rem;
  }
}
@media (max-width: 1024px) {
  main, footer {
    max-width: calc(768px - 20px);
  }
}
@media (max-width: 768px) {
  main, footer {
    max-width: calc(640px - 20px);
  }
}
@media (max-width: 640px) {
  .header-dynamic .title {
    font-size: 1.2rem;
  }

  .btn {
    padding: 0.8rem 0.5rem;
    font-size: 0.75rem;
  }

  main {
    max-width: calc(480px - 20px);
  }

  footer {
    max-width: calc( 480px - 0.7rem );
  }
}
@media (max-width: 480px) {
  main {
    max-width: 380px;
  }

  footer {
    max-width: calc( 380px - 0.7rem );
    font-size: 0.89rem;
  }
}
@media (max-width: 380px) {
  body {
    padding: 0rem 0.3rem;
  }

  main, footer {
    width: 100%;
  }

  .header-dynamic .title {
    width: 43%;
    font-size: 0.95rem;
  }
  .header-dynamic .buttons {
    width: 57%;
  }
  .header-dynamic .buttons .btn:hover {
    scale: 1;
  }
  .header-dynamic .buttons .btn:first-child {
    margin-right: 0.5rem;
  }
  .header-dynamic .buttons .icon {
    margin-right: 0.3rem;
  }

  footer {
    font-size: 0.8rem;
  }
}

/*# sourceMappingURL=style.css.map */
