@import variables
$footer-height: 80px

*
    margin: 0
    padding: 0
    box-sizing: border-box
html, body
    height: 100%
    margin: 0

body
    min-height: 100vh
    font-family: monospace, sans-serif
    color: $text-color
    letter-spacing: 0.5px
    background: #f9f9f9
.header-dynamic
    display: flex
    padding: 1rem 0
    // border-bottom: 1px solid #9f9f9f
    .title
        width: 50%
        display: flex
        align-items: center
    .buttons
        display: flex
        justify-content: end
        width: 50%
        button
            &:first-child
                margin-right: 1.5rem
main
    min-height: 100%
    max-width: 1500px
    margin: auto
    margin-bottom: -$footer-height
.btn
    @include round-with-shadow
    padding: 0.6rem 1rem
    border: none
    letter-spacing: 0.7px
    cursor: pointer
    background-color: #ffffff
    color: $text-color
    text-align: center
    font-family: system-ui, monospace, sans-serif
    font-weight: $fw-semibold
    transition: 0.07s
    &:hover
        scale: 1.15
.btn.active-type
    scale: 1
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(34, 197, 94) 0px 0px 0px 1.5px
.single-input, .type-switcher
    display: inline-block
    width: 50%
    padding: 1rem 0rem
    &:nth-child(odd)
        padding-right: 0.75rem
    &:nth-child(even)
        padding-left: 0.75rem
    label
        display: flex
        padding-bottom: 0.8rem
    input, button
        @include round-with-shadow
        padding: 0.7rem 1rem
        width: 100%
        border: none
        display: flex
        flex-grow: 1
        color: $text-color
        letter-spacing: 0.5px
        &:focus
            outline: none
    .buttons
        display: flex
        gap: 1.5rem
        cursor: pointer
        button

footer
    position: relative
    display: flex
    width: 100%
    align-items: center
    justify-content: center
    height: $footer-height
    max-width: 1500px
    margin: auto
    border-top: 1px solid #9f9f9f
.footer-push
    height: $footer-height

@media (max-width: $xxl)
    main, footer
        max-width: $xl
@media (max-width: $xl)
    main, footer
        max-width: $lg
    .header-dynamic
        .title
            font-size: 1.5rem
@media (max-width: $lg)
    main, footer
        max-width: $md
@media (max-width: $md)
    main, footer
        max-width: $sm
@media (max-width: $sm)
    .header-dynamic
        margin: 0rem 0.5rem
        .title
            font-size: 1.2rem
    .btn
        padding: 0.7rem 0.5rem
        font-size: 0.75rem
    main
        max-width: $xsm
    footer
        max-width: calc( #{$xsm} - 0.7rem )
@media (max-width: $xsm)
    main
        max-width: $xxsm
    footer
        max-width: calc( #{$xxsm} - 0.7rem )
        font-size: 0.89rem
@media (max-width: $xxsm)
    main, footer
        width: 100%
    .header-dynamic
        .title
            width: 43%
            font-size: 1.05rem
        .buttons
            width: 57%
            .btn
                &:first-child
                    margin-right: 0.5rem
