*
    margin: 0
    padding: 0
    box-sizing: border-box
body
    min-height: 100vh
    font-family: monospace, sans-serif
    color: #353535
    letter-spacing: 0.5px
main
    min-height: 100vh
    padding-bottom: 100px
footer
    position: absolute
    height: 0px
    width: 100%
.footer-content
    position: relative
    display: flex
    align-items: center
    justify-content: center
    height: 100px
    bottom: 100px
    border-top: 1px solid grey
